{% extends 'base.html.twig' %}
{% block title %}Hello SeriesController!{% endblock %}
{% block body %}
    <h2>{{twing.sectionName}}</h2>
    <div class="cradSection">
        {% for el in item %}
            <div class="card">
                <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="{{el.linkSrc}}" class="card-img-top" allowfullscreen></iframe>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{el.name}}</h5>
                    <a href="{{path('show_movie',{id:el.id})}}" class="btn btn-secondary btn-sm">Show</a>
                    <a href="{{path(twing.editLink,{id:el.id})}}" class="btn btn-primary btn-sm">Edit</a>
                    <a href="{{path(twing.deleteLink,{id:el.id})}}" class="btn btn-danger btn-sm">Delete</a>
                </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}