{% extends 'base.html.twig' %}
{% block title %}{{movie.name}}{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-7">
            <div class="videoSection">
                {% if movie.link%}
                    <div class="embed-responsive embed-responsive-16by9 videoItem" >
                        <iframe class="embed-responsive-item" src="{{movie.linkSrc}}" allowfullscreen></iframe>
                    </div>
                {% else %}
                    <video  controls class="videoItem">
                        <source src="{{movie.movieSrc}}" >
                    </video>
                {% endif %}
                <nav class="navbar navbar-light bg-light">
                    <a class="navbar-brand">Action</a>
                        <form class="form-inline actionlist">
                          <a href="{{path('editMovies',{id:movie.id})}}" class="btn btn-primary btn-sm">Edit</a>
                          <a href="{{path('editMovies',{id:movie.id})}}" class="btn btn-danger btn-sm">Delete</a>
                        </form>
                </nav>
                <table class="table">
                    <tbody>
                       <tr>
                         <td>Title</td>
                         <td>{{movie.name}}</td>
                      </tr>
                      <tr>
                          <td>Description</td>
                          <td><i>{{movie.description}}</i></td>
                      </tr>
                      <tr>
                        <td>Producent</td>
                        <td><a href="{{path('faindProducents',{searchvalue:movie.producent})}}">{{movie.producent}}</a></td>
                      </tr>
                      <tr>
                        <td>Series</td>
                        <td><a href="{{path('faindSeries',{searchvalue:movie.series})}}">{{movie.series}}</a></td>
                      </tr>
                      <tr>
                        <td>Categorys</td>
                        <td>
                            {% for el in tags %}
                                <a href="{{path('show_movies_in_category',{id:el.id})}}">{{el}}</a>
                            {% endfor %}
                        </td>
                      </tr>
                      <tr>
                        <td>Stars</td>
                        <td>
                            {% for el in stars %}
                                <a href="{{path('show_movies_with_star',{id:el.id})}}">{{el}}</a>
                            {% endfor %}
                        </td>
                      </tr>
                      <tr>
                        <td>Adddate</td>
                        <td>
                            {{ movie.time | date('Y-m-d') }}, {{ movie.time | date('H:i:s') }}
                        </td>
                      </tr>
                      <tr>
                        <td>views</td>
                        <td>{{movie.views}}</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
        <div class="col-5">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Movies with thee stars</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">tags</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">sereis</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    {% for el in stars_in_movies %}
                        <div class="row similarList">
                            <div class="col-4">
                                    {% if el.link%}
                                         <div class="embed-responsive embed-responsive-16by9 videoItem" >
                                            <iframe class="embed-responsive-item" src="{{el.linkSrc}}" allowfullscreen></iframe>
                                        </div>
                                    {% else %}
                                        <video  controls class="videoItem">
                                            <source src="{{el.movieSrc}}" >
                                        </video>
                                   {% endif %}
                            </div>
                            <div class="col-8"><a  dolongfilter href="{{path('show_movie',{id:el.id})}}">{{el.name}}</a>
                                <div> views : {{el.views}}</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    {% for el in tags_in_movies %}
                        <div class="row similarList">
                            <div class="col-4">
                                    {% if el.link%}
                                         <div class="embed-responsive embed-responsive-16by9 videoItem" >
                                            <iframe class="embed-responsive-item" src="{{el.linkSrc}}" allowfullscreen></iframe>
                                        </div>
                                    {% else %}
                                        <video  controls class="videoItem">
                                            <source src="{{el.movieSrc}}" >
                                        </video>
                                   {% endif %}
                            </div>
                            <div class="col-8">
                                <a dolongfilter href="{{path('show_movie',{id:el.id})}}">{{el.name}} </a>
                                <div> views : {{el.views}}</div>
                            </div>  
                        </div>
                    {% endfor %}
                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    {% for el in movies_in_serie %}
                        <div class="row similarList">
                            <div class="col-4">
                                    {% if el.link%}
                                         <div class="embed-responsive embed-responsive-16by9 videoItem" >
                                            <iframe class="embed-responsive-item" src="{{el.linkSrc}}" allowfullscreen></iframe>
                                        </div>
                                    {% else %}
                                        <video  controls class="videoItem">
                                            <source src="{{el.movieSrc}}" >
                                        </video>
                                   {% endif %}
                            </div>
                            <div class="col-8"><a dolongfilter href="{{path('show_movie',{id:el.id})}}">{{el.name}}</a>
                               <div> views : {{el.views}}</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}